node_modules
dist
build
coverage
.next
.git
*.min.js
*.min.css
package-lock.json
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.webp
**/*.svg
**/*.mp4
**/*.mp3
**/*.woff*
**/*.ttf
**/*.ico
**/vendor/**
**/venv/**
**/.venv/**
